nav, footer, .contenedor, aside, .superior 
{
   max-width: 75%;
   margin: auto;
   border-radius: 0.3em;
    
}
.superior
{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.titulo
{
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav
{
    background-color: #005883; 
}
.contenedor
{
    background-color: #F0B429;
    
}
.principal
{
    background-color: beige;
    
}
footer
{
    background-color: #005883;
    text-align: center;
     
}
aside
{
    background-color: #F0B429;
    display: inline-block;
    width: 29%;
}
/*Menú*/
.menu li
{
    display: inline-block;

}
li a, btnDesplegable
{
    display: inline-block;
    color: black;
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
}
.contenidoDesplegable
{
    display: none;
    position: absolute;
    min-width: 8em;
}
.contenidoDesplegable a
{
    background-color: #005883;
    color: black;
    padding: 0.3em 1em;
    display: block;
    text-align: left;
}
.contenidoDesplegable a:hover
{
    background-color: #F0B429;
}
.desplegable:hover .contenidoDesplegable
{
    
    display: block;
    
}
li a:hover
{
    background-color: #F0B429;
}