nav,footer, .contenedor, aside, .superior
{
   max-width: 79%;
   margin: auto;
   border-radius: 0.3em;
    
}
.principal
{
   max-width: 75%;
   margin: auto;
   border-radius: 0.1em;
   border-width: 0.3em;
   border-color: lightgrey;
   background-color: #ffffff;
}
.superior
{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.titulo
{
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav
{
    background-color: #005883; 
}
.contenedor
{
    background-color: #ffffff;
    border-inline-color: gray;
    
}
footer
{
    background-color: #005883;
    text-align: center;
    color: #ffffff;
     
}
aside
{
    background-color: #ffffff;
    display: inline-block;
    width: 80%;
    text-align: center;
}
/*Menú*/
.menu li
{
    display: inline-block;
    
}
.menu, footer
{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: large;
}
li a, btnDesplegable
{
    display: inline-block;
    color: #ffffff;
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
}
li a, btnDesplegable2
{
    display: inline-block;
    color: #ffffff;
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
}
li a, btnDesplegable3
{
    display: inline-block;
    color: #ffffff;
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
}
.contenidoDesplegable
{
    display: none;
    position: absolute;
    min-width: 8em;
}
.contenidoDesplegable2
{
    display: none;
    position: absolute;
    min-width: 8em;
}
.contenidoDesplegable3
{
    display: none;
    position: absolute;
    min-width: 8em;
}
.contenidoDesplegable a
{
    background-color: #005883;
    color: #ffffff;
    padding: 0.3em 1em;
    display: block;
    text-align: left;
}
.contenidoDesplegable2 a
{
    background-color: #005883;
    color: #ffffff;
    padding: 0.3em 1em;
    display: block;
    text-align: left;
}
.contenidoDesplegable3 a
{
    background-color: #005883;
    color: #ffffff;
    padding: 0.3em 1em;
    display: block;
    text-align: left;
}
.contenidoDesplegable a:hover 
{
    background-color: #F0B429;
}
.contenidoDesplegable2 a:hover 
{
    background-color: #F0B429;
}
.contenidoDesplegable3 a:hover 
{
    background-color: #F0B429;
}
.desplegable:hover .contenidoDesplegable
{
    
    display: block;
    
}
.desplegable2:hover .contenidoDesplegable2
{
    
    display: block;
    
}
.desplegable3:hover .contenidoDesplegable3
{
    
    display: block;
    
}
li a:hover
{
    background-color: #F0B429;
}
.Autors
{
    text-align: center;
    align-items: center;
}